* {
  box-sizing: border-box;
}

body {
  background-color: #ffc300;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.home-link {
  cursor: pointer;
}

.portfolio-link {
  cursor: pointer;
}

.contact-link {
  cursor: pointer;
}

section {
  position: relative;
  padding: 60px 5%;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
}

.home {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  display: inline-block;
  width: 90%;
  max-width: 450px;
}

.name {
  font-size: 50px;
}

.bio {
  font-size: 25px;
  color: rgb(95, 95, 95);
}

.portfolio {
  display: none;
  width: 100%;
  font-size: 20px;
  color: #ffffff;
  height: 90vh;
  overflow: auto;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.project-description {
  margin-top: 20px;
}

.project-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 45px;
}

.ruck-log {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 30px;
}

.phrasenado {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 30px;
}

.project-image {
  height: 200px;
}

.tech {
  margin-top: 10px;
}

.ruck-images {
  display: flex;
  justify-content: space-around;
}

.ruck-project-image {
  height: 200px;
  width: 100px;
}

.contact {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 90%;
  max-width: 450px;
  font-size: 25px;
}

.contact-links {
  text-align: center;
  margin: 20px;
}

.contact-icon {
  width: 40px;
  margin: 10px;
}